.App {
  text-align: center;
}

main {
  background-color: lightgray;
  padding-bottom: 50px;
  min-height: 50vh;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.button-section {
  padding: 20px;
}

h4 > span{
  font-size: small;
  font-weight: lighter;
  margin-left: 10px;
  cursor: pointer;
}

section {
  margin-bottom: 40px;
}

section > div{
  display: flex;
  align-items: center;
  justify-content: center;

}

.title-div {
  font-weight: bolder;
  margin: 5px 20px;
}
